# Data cleaning and data collection

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

finding the interactions that involve both the proteins that are in the target and non target list

In [4]:
df0=pd.read_excel('/content/drive/MyDrive/n2v/final.xlsx')

In [5]:
df0

,Entry,GENE,SAMN03465401,SAMN03465402,SAMN03465404,SAMN03465403,SAMN03465406,SAMN03465407,SAMN03465408,SAMN03465405,...,endoplasmic reticulum,cytosol,mitochondrion,golgi apparatus,lysosome,endosome,ribosome,plasma membrane,centrosome,nucleolus
0,A0A024RBS3,NCOR2,1.771,1.149,1.542,2.568,1.207,0.603,0.332,0.202,...,0,0,0,0,0,0,0,0,0,0
1,A0A0S2Z6U5,UPP2,0.013,0.162,0.369,0.131,0.000,6.111,0.005,0.032,...,0,0,0,0,0,0,0,0,0,0
2,P27105,STOM,10.794,7.043,1.583,4.710,23.166,33.430,21.613,11.627,...,1,0,1,0,0,0,0,1,0,0
3,O43633,CHMP2A,9.781,6.288,9.348,5.807,9.265,9.849,6.363,2.616,...,0,1,0,0,0,0,0,1,0,0
4,A1L3X4,MT1DP,0.039,0.043,0.000,0.000,0.000,0.038,0.116,2.406,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Q4G0J3,LARP7,0.745,4.336,0.301,0.386,0.779,0.910,0.271,0.130,...,0,1,0,0,0,0,0,0,0,0
157,Q14181,POLA2,0.460,0.815,0.401,0.428,0.395,0.366,0.268,0.223,...,0,1,0,0,0,0,0,0,0,0
158,A2BDD9,AMOT,0.393,1.535,1.216,2.575,0.344,1.550,0.337,0.064,...,0,0,0,0,0,0,0,0,0,0
159,A0A0C4DG62,ARL6IP4,7.103,7.454,4.474,6.283,9.063,11.869,6.810,2.677,...,0,0,0,0,0,0,0,0,0,1
160,A0A024R8A9,USP20,1.405,1.709,2.088,1.880,0.745,1.225,0.442,0.336,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
list1=df0['Entry'].tolist()
df_int=pd.read_csv('/content/drive/My Drive/clean_data1.csv')
fr =df_int['From'].tolist()

In [ ]:
res_list = []

for item in fr:
    if item not in res_list:
        res_list.append(item)

print("Unique elements of the list using append():\n")
for item in res_list:
    print(item)

In [ ]:
for i in range(len(df_int)):
  if df_int['From'][i] not in list1:
    df_int=df_int.drop(i)

  else:
    if df_int['To'][i] not in list1:
      df_int=df_int.drop(i)

In [6]:
df3=pd.read_excel("/content/drive/MyDrive/real_dataset/Human Dataset.xlsx",sheet_name="Sheet0")

In [ ]:
df3.fillna('', inplace=True)
df3['Interacts with'] = df3['Interacts with'].apply(lambda x: x.split(';')[:])

df3 = df3.explode('Interacts with')
df3=df3.reset_index(drop=True)
df3.head(100)

In [ ]:
for i in range(len(df_int)):
  if (df_int['From'][i] not in list1) and (df_int['To'][i] not in list1):
    df_int=df_int.drop(i)

  # else:
  #   if df_int['To'][i] not in list1:
  #     df_int=df_int.drop(i)

In [ ]:
df_int.to_csv('/content/drive/MyDrive/n2v/inter.csv',index= False)

In [ ]:
fr =df_int['From'].tolist()
to=df_int['To'].tolist()

In [ ]:
prot_list = []

for item in fr:
    if item not in prot_list:
        prot_list.append(item)
for item in to:
    if item not in prot_list:
        prot_list.append(item)
print("Unique elements of the list using append():\n")
for item in prot_list:
    print(item)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/real_dataset/Human Dataset.xlsx')

In [ ]:
df

             Entry Interacts with
0       A0A024QZ08            NaN
1       A0A024QZ86            NaN
2       A0A024QZA8            NaN
3       A0A024QZB8            NaN
4       A0A024QZQ1            NaN
...            ...            ...
204956      X6RLV5            NaN
204957      X6RLX0            NaN
204958      X6RLY7            NaN
204959      X6RM00            NaN
204960      X6RM24            NaN

[204961 rows x 2 columns]

In [ ]:
list1=df['Entry'].tolist()

extracting the protein list from interaction list

In [ ]:
df_int=pd.read_csv('/content/drive/MyDrive/n2v/inter.csv')

In [ ]:
df_int

              From          To
0       A0A024R8A9      O95994
1         Q99767-2  A0A024R8A9
2           Q03989  A0A024R8A9
3           P50553  A0A024R8A9
4           O95670  A0A024R8A9
...            ...         ...
172376      O15162      Q9HBR3
172377      Q15654      Q9HBR3
172378      P50222      Q9NWJ2
172379      Q96BR9      Q9NWJ2
172380      Q00013      R4GMP8

[172381 rows x 2 columns]

In [ ]:
fr =df_int['From'].tolist()
to=df_int['To'].tolist()

In [ ]:
prot_list = []

for item in fr:
    if item not in prot_list:
        prot_list.append(item)
for item in to:
    if item not in prot_list:
        prot_list.append(item)

In [ ]:
prot_list

In [ ]:
df=pd.read_csv('/content/drive/My Drive/clean_data1.csv')

In [ ]:
df

              From          To
0       A0A024R8A9      O95994
1         Q99767-2  A0A024R8A9
2           Q03989  A0A024R8A9
3           P50553  A0A024R8A9
4           O95670  A0A024R8A9
...            ...         ...
172376      O15162      Q9HBR3
172377      Q15654      Q9HBR3
172378      P50222      Q9NWJ2
172379      Q96BR9      Q9NWJ2
172380      Q00013      R4GMP8

[172381 rows x 2 columns]

In [ ]:
df_p=pd.DataFrame(prot_list)

In [ ]:
df_p.to_excel('/content/drive/MyDrive/n2v/prot.xlsx',index=False)

collecting geneid

In [ ]:
df1=pd.read_excel('/content/drive/MyDrive/n2v/all_prot.xlsx')

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
df1

In [ ]:
df1=df1.drop(['From','Gene Ontology (cellular component)'],axis=1)

In [ ]:
# df1.rename(columns = {'Gene Names (primary)':'Entry'}, inplace = True)

In [ ]:
df1['Gene id']=np.nan

In [ ]:
df1[df1['Gene Names (primary)']=='KRTAP23-1']

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:
df1[df1['Gene id'].isna()]

           Entry Gene Names (primary) Gene id
114       Q96EJ4                  NaN     NaN
126   A0A024R8L2                  NaN     NaN
334       Q9Y649                  NaN     NaN
530       Q8IVT4             MGC50722     NaN
531       Q9Y3B7               MRPL11     NaN
...          ...                  ...     ...
3066      P13196                ALAS1     NaN
3067      O43765                 SGTA     NaN
3068      Q53SE7             FLJ13057     NaN
3069      P12814                ACTN1     NaN
3070      Q8TBR0              PDE4DIP     NaN

[2544 rows x 3 columns]

In [ ]:
for i in range(len(df1[2000:])):
  i=i+2000
  print(i)
  gene=df1['Gene Names (primary)'][i]
  if isinstance(gene, str):
    # print(gene)
    url='https://www.ncbi.nlm.nih.gov/gene/?term='+gene
    r=requests.get(url)
    if r.status_code == 200:
      soup=BeautifulSoup(r.content,"html.parser")
      if soup is not None:
        s=soup.find('em', text='Homo sapiens')
        if s is not None:
          s1=s.find_previous('td')
          if s1 is not None:
            s2=s1.find_previous('td')
            if s2 is not None:
              id=s2.find('input')['value']
              df1['Gene id'][i]=id

  else:
    df1['Gene id'][i]=np.nan

In [ ]:
df1.to_excel('/content/drive/MyDrive/n2v/gene_id.xlsx',index=False)

splitting columns

In [ ]:
genedf=pd.read_excel('/content/drive/MyDrive/n2v/gene_id.xlsx')

In [ ]:
genedf=genedf.drop_duplicates()
genedf=genedf[genedf['Gene Names (primary)'].notna()]
genedf=genedf.reset_index(drop=True)

In [ ]:
genedf[genedf['Gene Names (primary)'].isna()]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:

genedf['Gene id']=genedf['Gene id'].astype(int)
type(genedf['Gene id'][0])

In [ ]:
genedf['Gene Names (primary)'] = genedf['Gene Names (primary)'].apply(lambda x: x.split('; ')[:])
genedf1 = genedf.explode('Gene Names (primary)')
genedf1=genedf1.reset_index(drop=True)

In [ ]:
genedf1=genedf1.reset_index(drop=True)

In [ ]:
for i in range(len(genedf1)):
  if (genedf1['Gene Names (primary)'][i])== '':
    genedf1=genedf1.drop(i)

In [ ]:
genedf1[genedf1['Entry']=='P78358']

     Entry Gene Names (primary)  Gene id
11  P78358               CTAG1A   1485.0
12  P78358               CTAG1B   1485.0

In [ ]:
#
df_dup=genedf1[genedf1.duplicated(['Entry'], keep=False)]

In [ ]:
df_dup=df_dup.reset_index(drop=True)

In [ ]:
for i in range(len(df_dup)):
  gene=df_dup['Gene Names (primary)'][i]
  print(gene, i)
  url='https://www.ncbi.nlm.nih.gov/gene/?term='+gene
  print(url)
  r=requests.get(url)
  if r.status_code == 200:
      soup=BeautifulSoup(r.content,"html.parser")
      if soup is not None:
        s=soup.find('em', text='Homo sapiens')
        if s is not None:
          s1=s.find_previous('td')
          if s1 is not None:
            s2=s1.find_previous('td')
            if s2 is not None:
              id=s2.find('input')['value']
              print(id)
              # df_dup['Gene id'][i]=id
              # df_dup.set_value(index,'Gene id',id)
              # df_dup.at[index,'Gene id']=id
              df_dup['Gene id'][i]=id
              print(df_dup['Gene id'][i])
            else:
              df_dup['Gene id'][i]=np.nan
          else:
            df_dup['Gene id'][i]=np.nan
        else:
          df_dup['Gene id'][i]=np.nan
  else:
    df_dup['Gene id'][i]=np.nan

In [ ]:
df_dup['Gene id'][5]=653123

In [ ]:
df_dup

     Entry Gene Names (primary)    Gene id
0   P78358               CTAG1A     246100
1   P78358               CTAG1B       1485
2   P12532               CKMT1A     548596
3   P12532               CKMT1B       1159
4   Q5TZK3              FAM74A4     401508
5   Q5TZK3              FAM74A6     653123
6   P68431                 H3C1       8350
7   P68431                 H3C2       8358
8   P68431                 H3C3       8352
9   P68431                 H3C4       8351
10  P68431                 H3C6       8353
11  P68431                 H3C7       8968
12  P68431                 H3C8       8355
13  P68431                H3C10       8357
14  P68431                H3C11       8354
15  P68431                H3C12       8356
16  P69905                 HBA1       3039
17  P69905                 HBA2       3040
18  P62807                H2BC4       8347
19  P62807                H2BC6       8344
20  P62807                H2BC7       8343
21  P62807                H2BC8       8339
22  P62807               H2BC10       8346
23  P62805                 H4C1       8359
24  P62805                 H4C2       8366
25  P62805                 H4C3       8364
26  P62805                 H4C4       8360
27  P62805                 H4C5       8367
28  P62805                 H4C6       8361
29  P62805                 H4C8       8365
30  P62805                 H4C9       8294
31  P62805                H4C11       8363
32  P62805                H4C12       8362
33  P62805                H4C13       8368
34  P62805                H4C14       8370
35  P62805                H4C15     554313
36  P62805                H4C16     121504
37  Q08AF8              GOLGA8F  100132565
38  Q08AF8              GOLGA8G     283768
39  Q8NHW4               CCL4L1     388372
40  Q8NHW4               CCL4L2       9560
41  Q16385                 SSX2       6757
42  Q16385                SSX2B     727837
43  Q15415               RBMY1F     159163
44  Q15415               RBMY1J     378951
45  A1L429              GAGE12B     729428
46  A1L429              GAGE12C     729422
47  A1L429              GAGE12D  100132399
48  A1L429              GAGE12E     729431

In [ ]:
genedf1[genedf1.duplicated(['Entry'], keep=False)]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:
# genedf1[genedf1.duplicated(['Entry'], keep=False)]
genedf1=genedf1.drop_duplicates(subset=['Entry'], keep=False)

In [ ]:
genedf1

           Entry Gene Names (primary)  Gene id
0     A0A024R8A9                USP20  10868.0
1         Q99767                APBA2    321.0
2         Q03989               ARID5A  10865.0
3         P50553                ASCL1    429.0
4         O95670             ATP6V1G2    534.0
...          ...                  ...      ...
2931      P13196                ALAS1    211.0
2932      O43765                 SGTA   6449.0
2933      Q53SE7             FLJ13057      NaN
2934      P12814                ACTN1     87.0
2935      Q8TBR0              PDE4DIP   9659.0

[2886 rows x 3 columns]

In [ ]:
genedf1[genedf1.duplicated(['Entry'], keep=False)]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:
genedf[genedf['Gene Names (primary)']=='SS18L1']

      Entry Gene Names (primary)  Gene id
210  O75177               SS18L1  26039.0

In [ ]:
genedf[genedf.duplicated(['Entry','Gene Names (primary)'])]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:
pd.concat([genedf,df_dup])

         Entry Gene Names (primary)    Gene id
0   A0A024R8A9              [USP20]    10868.0
1       Q99767              [APBA2]      321.0
2       Q03989             [ARID5A]    10865.0
3       P50553              [ASCL1]      429.0
4       O95670           [ATP6V1G2]      534.0
..         ...                  ...        ...
44      Q15415               RBMY1J     378951
45      A1L429              GAGE12B     729428
46      A1L429              GAGE12C     729422
47      A1L429              GAGE12D  100132399
48      A1L429              GAGE12E     729431

[2947 rows x 3 columns]

In [ ]:
finaldf=genedf1.append(df_dup)

<ipython-input-80-42f2133dee87>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  finaldf=genedf1.append(df_dup)

In [ ]:
finaldf=finaldf.reset_index(drop=True)

In [ ]:
finaldf.to_excel('/content/drive/MyDrive/n2v/gene_id_fin.xlsx',index=False)

In [ ]:
finaldf['Gene id'][1994]=285987

In [ ]:
finaldf=finaldf[finaldf['Gene id'].notna()]

In [ ]:
finaldf[finaldf['Gene Names (primary)'].isna()]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id]
Index: []

In [ ]:
finaldf[finaldf.duplicated(['Gene id'], keep=False)]

           Entry Gene Names (primary)   Gene id
21        Q9BS75               KLHL20   27252.0
25        Q6FHY5                MEOX2    4223.0
68        P0C7X2               ZNF688  146542.0
77    A0A0C3SFZ9                FCHO1   23149.0
97    A0A0S2Z4E4                 NCK1    4690.0
...          ...                  ...       ...
2807  A0A0S2Z3N6                 ETV6    2120.0
2808  A0A0S2Z4D7                 NCK1    4690.0
2828  A0A0S2Z4A7                FANCG    2189.0
2883      Q53SE7             FLJ13057       NaN
2885      Q8TBR0              PDE4DIP    9659.0

[157 rows x 3 columns]

In [ ]:
df_s=pd.read_excel('/content/drive/MyDrive/n2v/final.xlsx')

In [ ]:
l1=df_s['Entry'].tolist()
l2=finaldf['Entry'].tolist()

In [ ]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [ ]:
len(intersection(l1,l2))

0

In [ ]:
len(l1)

161

In [ ]:
df_g=pd.read_excel('/content/drive/MyDrive/n2v/gene_id_count_all.xlsx')

In [ ]:
l1=df_s['Entry'].tolist()
l2=df_g[df_g['SAMN03465401'].isna()]['Entry'].tolist()

In [ ]:
df_g=df_g[df_g['SAMN03465401'].notna()]

In [ ]:
df_g[df_g['SAMN03465401'].isna()]

Empty DataFrame
Columns: [Entry, Gene Names (primary), Gene id, SAMN03465401, SAMN03465402, SAMN03465404, SAMN03465403, SAMN03465406, SAMN03465407, SAMN03465408, SAMN03465405, SAMN03465409, SAMN03465410, SAMN03465411, SAMN03465412, SAMN03465413, SAMN03465414, SAMN03465415, SAMN03465416, SAMN03465418, SAMN03465419, SAMN03465420, SAMN03465421]
Index: []

[0 rows x 23 columns]

In [ ]:
df_g.to_excel('/content/drive/MyDrive/n2v/gene_id_count_all.xlsx',index=False)

In [ ]:
df_g

,Entry,Gene Names (primary),Gene id,SAMN03465401,SAMN03465402,SAMN03465404,SAMN03465403,SAMN03465406,SAMN03465407,SAMN03465408,...,SAMN03465411,SAMN03465412,SAMN03465413,SAMN03465414,SAMN03465415,SAMN03465416,SAMN03465418,SAMN03465419,SAMN03465420,SAMN03465421
0,A0A024R8A9,USP20,10868,1.405,1.709,2.088,1.880,0.745,1.225,0.442,...,1.949,0.644,0.544,0.729,1.264,1.083,4.472,1.868,0.619,1.068
1,Q99767,APBA2,321,0.144,6.682,7.636,7.622,0.042,0.077,0.078,...,0.151,0.032,0.008,0.182,0.968,0.162,0.810,0.219,0.081,0.145
2,Q03989,ARID5A,10865,0.426,0.290,0.498,0.412,2.537,0.683,0.955,...,1.421,0.342,0.554,0.653,1.530,0.842,2.272,0.619,1.286,2.013
3,P50553,ASCL1,429,0.084,0.958,3.638,1.093,0.000,0.000,0.000,...,0.075,0.004,0.004,0.016,0.002,0.051,0.863,0.041,0.130,0.015
4,O95670,ATP6V1G2,534,0.404,78.425,18.379,31.510,0.464,0.398,0.079,...,0.129,0.091,0.185,0.330,0.040,0.110,0.180,0.783,0.039,0.339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,Q15415,RBMY1J,378951,0.004,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2765,A1L429,GAGE12B,729428,0.025,0.000,0.085,0.010,0.000,0.000,0.000,...,0.000,0.047,0.000,0.000,0.255,0.016,0.000,0.108,0.036,0.015
2766,A1L429,GAGE12C,729422,0.004,0.000,0.059,0.008,0.000,0.000,0.000,...,0.000,0.044,0.000,0.000,0.170,0.000,0.000,0.074,0.000,0.012
2767,A1L429,GAGE12D,100132399,0.004,0.000,0.057,0.008,0.000,0.000,0.000,...,0.000,0.042,0.000,0.000,0.162,0.000,0.000,0.071,0.000,0.011
2768,A1L429,GAGE12E,729431,0.004,0.000,0.059,0.008,0.000,0.000,0.000,...,0.000,0.044,0.000,0.000,0.168,0.000,0.000,0.074,0.000,0.012